<%= erb :"/layouts/header" %>

<body>
	<div class="slide">
		<div class="slide-show owl-carousel owl-theme">
			<div class="slide-content">
				<div class="mask"></div>
				<!-- <img src="images/slider1.jpg" alt=""> -->
				<div class="caption text-center">
					<p><%= @joined_user.total_score %></p>
					<p><%= @joined_user.ranking %></p>
					<p><%= @joined_user.midranking %></p>
				</div>
			</div>
		</div>
	</div>
	<!-- end slide -->

</body>


<%= erb :"/layouts/footer" %>					