<%= erb :"/layouts/header" %>

<body>
	<!-- settings -->
	<div class="segments-page">
		<div class="container">
			<div class="settings">
				<div class="pages-title">
					<h3>MY PROFILE</h3>
					<div class="line"></div>
				</div>
				<form action="/edit_profile" method="post">
					<div class="profile-banner">
						<span>Photo</span>
						<div class="contents">
							<img src="images/heart.png" alt="">
							<input type="file">
						</div>
					</div>
					<div>
					계정<input type="text" name="email" value="<%= @user.email %>">
					비밀번호<input type="text" name="password"  value="<%= @user.password %>">
					비밀번호 확인<input type="text" name="password_confirm" value="<%= @user.password %>">
					닉네임<input type="text" name="nickname" value="<%= @user.nickname %>">
					회사 이름<input type="text" name="company" value="<%= @user.company.name %>">
					지역<input type="text" name="location" value="<%= @user.location %>">
					팀 소개<textarea cols="30" rows="10"><%= @user.team_detail %></textarea>
					</div>
					<button>
						<input class="button" type="submit" value="저장하기">
					</button>
				</form>
			</div>
		</div>
	</div>
	<!-- end settings -->
</body>

<%= erb :"/layouts/footer" %>