<%= erb :"/layouts/header" %>

	<!-- settings -->
<body>
	<div class="segments-page">
		<div class="container">
			<div class="settings">
				<div class="pages-title">
					<h3>MY PROFILE</h3>
					<div class="line"></div>
				</div>
				<form>
					<div class="profile-banner">
						<span>Photo</span>
						<div class="contents">
							<img src="images/bg-banner.jpg" alt="">
							<input type="file">
						</div>
					</div>
					<input type="text" value="<%= @user.email %>">
					<input type="text" value="<%= @user.password %>">
					<input type="text" value="<%= @user.password %>">
					<input type="text" value="<%= @user.nickname %>">
					<input type="text" value="<%= @user.company_id %>">
					<input type="text" value="<%= @user.location %>">
					<textarea cols="30" rows="10"><%= @user.team_detail %></textarea>
					<button class="button">저장하기</button>
				</form>
			</div>
		</div>
	</div>
	<!-- end settings -->

	<script src="js/jquery.min.js"></script>
	<script src="js/materialize.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>

</body>

<%= erb :"/layouts/footer" %>